<!--Uses base template's code for base html site-->
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="content-section">
  <form method="POST">
    {{ form.hidden_tag() }}

    <fieldset class="form">
      <legend class="border-bottom mb-4">Create Post</legend>
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }}

        <!--If form is invalid shows error message-->
        {% if form.title.errors %}
          {{ form.title(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.title(class="form-control form-control-lg")}}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.text.label(class="form-control-label") }}

        <!--If form is invalid shows error message-->
        {% if form.text.errors %}
          {{ form.text(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.text.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.text(class="form-control form-control-lg")}}
        {% endif %}
      </div>

    </fieldset> 
    </br>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info")}} 
  </form>
</div>

{% endblock %}
